/****************/
/* BELOW 1120px*/
/***************/

@media (max-width: 70em) {
  .section-div{
    max-width: 85vw;
  }

  .carrossel img{
    width: 100vw;
  }

  .right-arrow{
    right: 0%;
  }

  .mestre-article{
    max-width: 40vw;
  }

  .card{
    width: 22vw;
  }
}

/****************/
/* BELOW 390px*/
/***************/

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }

  .section-div{
    max-width: 85vw;
  }

  .mestre-espiga-div{
    grid-template-columns: 1fr;
  }

  .mestre-pic{
    width: 60vw;
    margin-bottom: 2rem;
  }

  .mestre-article{
    max-width: 90vw;
  }

  .turmas-div{
    grid-template-columns: 1fr;
  }

  .card{
    width: 70vw;
    margin-bottom: 3rem;
  }

  .card img{
    width: 50vw;
  }

  .turmas-div h4{
    font-size: 2.4rem;
  }

  .turmas-div p{
    font-size: 2rem;
  }

  .local-div{
    grid-template-columns: 1fr;
  }

  .mapa{
    width: 85vw;
    height: 50vw;
    grid-row: 2 / 3;

    margin-top: 3rem;
  }

  .endereço h3{
    margin-bottom: 1.6rem;
  }

  .footer-div{
    grid-template-columns: 1fr;
    align-items: center;
    padding: 6rem 0 5rem 0;  
  }

  .contato, .social{
    align-items: center;
  }
  
  .footer-div a{
    padding-bottom: 1rem;
  }
}