/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #555;
}

/******************************/
/* GENRAL REUSABLE COMPONENTS */
/******************************/

.hide{
  display: none;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #555;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-quaternary{
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
}

.section-div{
  max-width: 75vw;
  margin: auto;
  padding: 8rem 0;
}

.go-back{
  z-index: -10;
}

/**************/
/* HEADER/NAV */
/**************/

header{
  background-color: #475e96;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.281);
  position: relative;
}

.header-div{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1rem 0;
  margin: auto;
}

.logo{
  width: 5vw;
  border-radius: 50%;
  box-shadow: 0 1.2rem 3.2rem #5a5a5abe;
  opacity: 0.8;
}

.nav-list{
  display: flex;
}

.nav-list li{
  font-size: 2rem;
  list-style: none;
  padding: 1rem;
  margin: auto;
}

.nav-link{
  color: whitesmoke;
}

.nav-icon{
  color: whitesmoke;
  font-size: 2.4rem;
}


/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .nav-link, .sticky .nav-icon{
  font-size: 1.8rem;
  color: #777;
}

.sticky .logo{
  width: 6rem;
}

.sticky .carrossel {
  margin-top: 9.6rem;
}

.sticky .icon-mobile-nav {
  color: #555;
}

/* MENU */
.btn-menu {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: whitesmoke;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
  color: #555;
}

/*************/
/* CARROSSEL */
/*************/

.carrossel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carrossel img{
  height: auto;
  width: 80vw;
  opacity: 0.9;
  animation: fadeInOut 1s linear 1 forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.9;
  }
}

.left-arrow, .right-arrow{
  position: absolute;
  top:0%;
  z-index: 10;
}

.right-arrow{
  right: 9.6%;
}

button{
  height: auto;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
}

.arrow{
  height: 90vh;
  font-size: 4rem;
  color: #333;
  background-color: #ffffff1e;
  transition: all 1s;
}

.arrow:hover{
  background-color: rgb(223, 221, 221);
  color: #33333393;
}

.pictures{
  height: auto;
}

/*****************/
/* MESTRE-ESPIGA */
/*****************/

.mestre-espiga{
  background-color: #bebebe33;
}

.mestre-pic{
  width: 30vw;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.281);
}

.mestre-article{
  max-width: 30vw;
  background-color: whitesmoke;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.089);
  padding: 2rem;
  border-radius: 5px;
}

.mestre-espiga h2{
  padding-bottom: 3rem;
}

.mestre-article p{
  font-size: 2rem;
  padding-bottom: 1rem;
  line-height: 1.2;
}

/**********/
/* TURMAS */
/**********/

.turmas h2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.turmas-div li{
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.turmas-div h4{
  font-size: 2rem;
  padding-right: 1rem;
}

.turmas-div p{
  font-size: 1.8rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #bebebe33;
  width: 18vw;
  border-radius: 5px;
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.096); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.089);

  transition: all 0.5s;
}

.card:hover{
  transform: scale(1.05);
}

.card img{
  width: 10vw;
  border-radius: 50%;
  justify-items: center;
  margin-bottom: 3.2rem;
  border: 3px solid #344775;
}

/**********/
/* Local */
/**********/

.local{
  background-color: #bebebe33;
}

.local h2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.local-div{
  grid-template-columns: 2fr 1fr;
  margin: auto;
  column-gap: 2rem;
}

.mapa{
  justify-self: center;
  align-self: center;
  width: 45vw;
  height: 25vw;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}

/**********/
/* Footer */
/**********/

footer{
  height: auto;
}

.footer-div{
  padding: 8rem 0;
}

.contato, .social{
  display: flex;
  flex-direction: column;
}

footer a {
  display: flex;
  font-size: 2.4rem;
  transition: all 1s;
}

footer a:hover{
  color: #5c7cfa;
}

footer p{
  padding-left: 1rem;
  padding-bottom: 1rem;
}